body{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #464646;
  background: #f5f5f5;
}

.encabezado{
  width: 940px;
  margin: 0 auto;
  padding: 16px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.titulo-encabezado{
  font-weight: 700;
}

.link:link{
  color: #464646;
}

.link:visited{
  color: #464646;
}

.link:hover{
  color: orange;
}


.nav-menuPrincipal{
  width: 70%;
}

.menu-principal{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.presentacion{
  width: 940px;
  margin: 0 auto;
  padding: 64px 0;
  display: flex;
  align-items: center;
}

.subtitulo{
  font-size: 32px;
  font-weight: 700;
}

.presentacion .subtitulo{
  font-size: 52px;
}

.presentacion p{
  padding: 16px 0;
  line-height: 32px;
  font-size: 22px;
}

.foto-perfil{
  width: 400px;
  border-radius: 200px;
}

.redes{  
  display: flex;
  width: 90%;
  justify-content: space-between;
  font-weight: 500;
}

.red{
  display: flex;
}
/*
.red .fa-solid{

}
*/
.fa-arrow-up-right-from-square{
  font-size: 14px;
  padding: 0 10px;
}
/*
.red .fasolid:visited{
  color:#464646;
}

.red .fa-solid:hover{
  color: orange;
}
*/
#sobre-mi{
  width: 100%;
  background: #EAF2FD;
}

#sobre-mi p{
  padding: 16px 0;
  line-height: 22px;
}

.box-sobreMi{
  width: 940px;
  margin: 0 auto;
  padding: 64px 0;
}

.firma{
  width: 120px;
}

.hobbies-skills{
  width: 940px;
  margin: 0 auto;
  padding: 64px 0;
}

.hobbies-skills .subtitulo{
  text-align: center;
}

.lista-skills,
.lista-hobbies{
  display: flex;
  height: 150px;
  justify-content: space-between;
  width: 100%;
  padding: 32px 0;
}

.items-skills,
.items-hobbies{
  background: #FFFFFF;
  display: flex;
  padding: 16px;
  width: 12%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 30px;
  color: #2A7AE4;
}
/*
.fa-brands,
.fa-solid*/
.items-skills{

}

.texto-items{
  font-size: 16px;
  color: #464646;
  padding-top: 12px;
}

#formacion{
  background: #EAF2FD;

}

.box-formacion{
  width: 940px;
  margin: 0 auto;
  padding: 64px 0;  
}

.box-formacion .subtitulo{
  text-align: center;
  margin-bottom: 16px;
}

.institutos{
  display: flex;
  justify-content: space-between;
  flex= 1 1 0px;
}

.logo-instituto{
  width: 70%;
}
.box-logo{
  background: #FFFFFF;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 290px;
  margin: 16px 0;
}

.titulo-logo{
  font-size: 22px;
  font-weight: 700;
  margin: 8px 0;
}

.box-experiencia{
  width: 940px;
  margin: 0 auto;
  padding: 64px 0;  
}

.box-experiencia .subtitulo{
  text-align: center;
  margin-bottom: 16px;
}

.box-proyectos{
  display: flex;
  flex-direction: column;
}


.proyecto{
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.proyecto img{
  height: 400px;
  width: 63%;
}

.proyecto-reverse{
  flex-direction: row-reverse;
}

.datos-proyectos{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}







.contacto{
  background: #EAF2FD;
  padding: 64px 0;
}

.box-contacto{
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.datos-contacto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}

.imagen-contacto{
  height: 550px;
}


.boton-enviar-mensaje{
  width: 30%;
}

